:root {
  --base-color1: #943f2b;
  --base-color2: #ecf2f1;
  --base-color3: #e08b75;
  --base-color4: #3639e0;
  --base-color5: #627099;
}

html {
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  font-family: Sans-Serif;
  text-align: center;
  align-items: center;
  font-size: 10px;
  background-color: var(--base-color2);
  color: var(--base-color2);
}

body {
  background-color: var(--base-color1);
  margin: 0;
  font-size: 1.5rem;
  background-size: cover;
  position: center;
  width: auto;
}

nav {
  display: inline-block;
  justify-content: space-between;
  font-size: 2.5rem;
  padding: 1.5rem;
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
}

h1 {
  font-style: italic;
  text-decoration: underline;
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
}

h2 {
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
  color: yellow;
  outline: black;
}

h3 {
  max-width: 60vw;
  margin: auto;
  padding: 0.5vw;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: italics;
  color: yellow;
  outline: black;
}

a:visited {
  text-decoration: italics;
  color: yellow;
  outline: black;
}

a:hover {
  color: var(--base-color2);
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.homeLinks {
  display: inline-block;
  font-size: 2rem;
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
}
